Source/DotNetPOCHub/ProductClient/Connected Services/ProductService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="myModel" elementFormDefault="qualified" targetNamespace="myModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPU" type="xs:double" />
      <xs:element minOccurs="0" name="Descripation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountPer" type="xs:float" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
</xs:schema>