Source/DotNetPOCHub/ProductClient/Connected Services/ProductService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProductContract.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProductContract.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetProductRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
      <xs:element minOccurs="0" name="RecordInPage" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetProductRequest" nillable="true" type="tns:GetProductRequest" />
</xs:schema>